/* component.css */
.link-animation {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.link-animation::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0f5a08;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.link-animation:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}



/* Nav bar Style */

/* Navbar styles */
.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url('../../assets/islamic-texture.jpg');
  background-blend-mode: overlay;
  background-size: fit;
  background-position: center;
  backdrop-filter: blur(5px);
  z-index: 50;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin: 0 auto;
}

/* Additional styles for link hover animation */
.link-animation {
  transition: color 0.3s ease;
}
/* banner animation */
@keyframes gradient-x {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 15s ease infinite;
}